1. Base Project/PalmyMoodify/.vs/
1. Base Project/PalmyMoodify/packages/
1. Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify.UWP/obj/
1. Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify/obj/
1. Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify.iOS/obj/
1. Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify.Android/obj/
1. Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify.Android/bin/
1. Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify/bin/
2. Integrate Camera in Xamarin Forms/PalmyMoodify/PalmyMoodify/PalmyMoodify.Android/obj/
2. Integrate Camera in Xamarin Forms/Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify.Android/obj/
2. Integrate Camera in Xamarin Forms/PalmyMoodify/PalmyMoodify/PalmyMoodify/bin/
2. Integrate Camera in Xamarin Forms/PalmyMoodify/PalmyMoodify/PalmyMoodify.iOS/obj/
2. Integrate Camera in Xamarin Forms/PalmyMoodify/PalmyMoodify/PalmyMoodify/obj/
2. Integrate Camera in Xamarin Forms/PalmyMoodify/PalmyMoodify/PalmyMoodify.Android/bin/
2. Integrate Camera in Xamarin Forms/PalmyMoodify/packages/
2. Integrate Camera in Xamarin Forms/Base Project/PalmyMoodify/packages/
2. Integrate Camera in Xamarin Forms/Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify/obj/
2. Integrate Camera in Xamarin Forms/PalmyMoodify/.vs/
2. Integrate Camera in Xamarin Forms/Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify/bin/
2. Integrate Camera in Xamarin Forms/Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify.iOS/obj/
2. Integrate Camera in Xamarin Forms/Base Project/PalmyMoodify/PalmyMoodify/PalmyMoodify.Android/bin/
2. Integrate Camera in Xamarin Forms/Base Project/PalmyMoodify/.vs/
2. Integrate Camera in Xamarin Forms/Completed/PalmyMoodify/PalmyMoodify.Android/obj/
2. Integrate Camera in Xamarin Forms/Completed/packages/
2. Integrate Camera in Xamarin Forms/Completed/PalmyMoodify/PalmyMoodify/obj/
2. Integrate Camera in Xamarin Forms/Completed/PalmyMoodify/PalmyMoodify/bin/
2. Integrate Camera in Xamarin Forms/Completed/PalmyMoodify/PalmyMoodify.iOS/obj/
2. Integrate Camera in Xamarin Forms/Completed/PalmyMoodify/PalmyMoodify.Android/bin/
